/*----banner-----*/
.banner{
	height:400px;
	margin-bottom: 35px;
}
.banner .slide-image{
	position: relative;
	width:858px;
	height: 398px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
}
.slide-image .slide{
	width:856px;
	height:796px;
	transition:top .5s ease;
	position: absolute;
	left: 0;
	top: 0;
}
.slide-image .slide1{
	width:100%;
	height:50%;
	position: relative;
}
.change1{
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 1;
    margin-left: -48px;
    background: transparent;
    height: 0;
}
.change1 li{
    float: left;
    margin: 0 10px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #000;
    font-size: 0;
    filter: alpha(opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);/*兼容ie8及以下*/
    opacity: .3;
}
.change1 .active{
	background-color: #23AC38;
	opacity: 1;
	filter: alpha(opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);/*兼容ie8及以下*/
}
.slide1 .slide-box{
	width: 100%;
	height: 100%;
	position: relative;
}
.slide1 .slide-box li{
	transition:opacity .5s ease;
	position: absolute;
	left: 0;
	top: 0;
}
.slide-image .slide-aside{
	width: 40px;
	height:398px;
	position: absolute;
	left: 0;
	top: 0;
}
.slide-aside .aside{
	height: 50%;
	position:relative;
}
.slide-aside .aside .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);/*兼容ie8及以下*/
    opacity: .3;
}
.slide-aside .aside .bg.active{
	background-image: url('../images/icons.png');
    background-position: 0 -295px;
    background-color: transparent;
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);/*兼容ie8及以下*/
    opacity: 1;
    
}
.slide-aside .aside .bg:hover{
	filter: alpha(opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);/*兼容ie8及以下*/
    opacity: .6;
    background-color: #000;
}
.slide-aside .aside .text{
	position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    margin-top: -36px;
    padding: 0 12px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}
.slide-aside .aside:hover .bg{
	filter: alpha(opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);/*兼容ie8及以下*/
    opacity: .6;
    background-color: #000;
}
.slide-prev,.slide-next{
	position: absolute;
    background-image: url('../images/icons.png');
    background-position: 0 0;
    top: 50%;
    z-index: 1;
    width: 40px;
    height: 64px;
    margin-top: -32px;
	display:none;
}
.slide-prev{
	left: 39px;
}
.slide-prev:hover{
	background-position: -45px 0;
}
.slide-next{
	right:0;
    background-position:0 -75px;
}
.slide-next:hover{
	right:0;
    background-position:-45px -75px;
}

/*-----news----*/
.banner .news{
	width:339px;
	height: 100%;
	border: 1px solid #e5e5e5;
	border-left: 0;
	padding-left: 25px;
	padding-right: 15px;
}
.banner .news .title{
	line-height: 30px;
	margin:15px 0;
}
.banner .news .title p{
	font-size: 20px;
	color:#23ac38;
}
.banner .news .safety{
	margin-bottom: 12px;
}
.banner .news .safety p{
	color:#333;
	font-weight: bold;
	font-size: 15px;
	margin-bottom:12px;
}
.banner .news .safety span{
	display: inline-block;
	padding:3px 10px;
	margin-left: 10px;
	background-color:#f57f17;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
}
.banner .news .support{
	margin-bottom: 14px;
}
.banner .news .support span{
	width:70px;
	height:68px;
	margin-right: 15px;
}
.banner .news .support .text{
	display: table-cell;
}
.banner .news .support .text p{
	color:#333;
}
.banner .news .support .text .desc p{
	font-size: 12px;
	color:#999;
}
.banner .news .support .text .desc a{
	color:#333;
}
.banner .news .support .text a:hover{
	color:#23ac38;
}
.news .news-list li{
	padding-left: 13px;
	background: url(../images/icons.png) -150px -359px no-repeat;
}
.news .news-list li a{
	color:#333;
	font-family: arial, 微软雅黑;
	line-height: 28px;
}
.news .news-list li a:hover{
	color: #23ac38;
	text-decoration: none;
}

/*-------section--------*/
.section .information,.section .product{
	width:618px;
}
.section .information .info-list{
	width:269px; 
	margin-right: 40px;
}
.section .information .title p{
	font-size: 20px;
	color:#23ac38;
	margin-bottom: 15px;
}
.section .information .title a{
	color:#999;
}
.section .information .news-a{
	display: block;
	background: #f6f6f6;
	line-height: 40px;
	text-align: center;
}
.information .news-list li{
	padding-left: 13px;
	background: url(../images/icons.png) -150px -359px no-repeat;
}
.information .info-list a{
	color:#333;
	font-family: arial, 微软雅黑;
	line-height: 28px;
}
.information .info-list .cate{
	color:#999;
	font-size: 13px;
}
.information .info-list a:hover{
	color: #23ac38;
	text-decoration: none;
}

/*-----product-------*/
.section .product{
	border: 1px solid #e5e5e5;
}
.product .slide{
	position: relative;
	width:618px;
	height:272px;
	overflow: hidden;
	border-bottom:1px solid #e5e5e5;
}
.product .slide .slide-box{
    width: 1854px;   
    position: absolute;
    left: 0;
    top: 0;
}
.product .slide .slide-box li{
	float: left;
	width: 618px;
}
.product .slide .slide-box img{
	width: 100%;
}
.product .slide-prev{
	left: 0
}
.show-box .show{
	width:268px;
	height:140px;
	padding:10px 10px 10px 30px;
	float: left;
	border-right: 1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
.show-box .show .img{
	line-height: 140px;
}
.show-box .show .img img{
	vertical-align: middle;
}
.show-box .show .text{
	float: left;
	margin-top:25px;
}
.show-box .show .text a{
	font-size: 18px;
	color:#333;
}
.show-box .show .text p{
	line-height: 30px;
}
.others{
	padding:25px;
}
.others .box{
	width: 580px;
	height:60px;
	margin-bottom: 5px;
}
.others .box .img{
	width: 110px;
	height: 60px;
	float: left;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
}
.others .box .img1{
	background-position: -95px -504px;
}
.others .box .img2{
	background-position: -95px -180px;
}
.others .box .img3{
	background-position: -95px -300px;
}
.others .box .text a{
	padding-right:10px;
	line-height: 30px;
	color:#333;
}
/*-----service--------*/
/*.service{
	width:100%;
	height:145px;
}
.service p{
	width:1240px;
	margin:0 auto;
	height:30px;
	margin-bottom:15px;
	color:#23ac38;
	font-size: 20px;
}
.service .slide-box{
	position: relative;
}
.service .slide-box .prev,.service .slide-box .next{
	position: absolute;
	width:30px;
	height:98px;
	border: 1px solid black;
	top:0;
}
.service .slide-box .prev{
	left:-30px;
}
.service .slide-box .next{
	right:-30px;
}
.service .slide-box .slide-image{
	width:1226px;
	height:68px;
	border:1px solid black;
	padding:15px 6px;

}*/
